<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <header class="header-container">
        <h1 class="main-title">
            <span class="title"><a href="/templates/index.html">CatFish Store</a></span>
        </h1>
        
        <nav class="nav-bar">
            <ul>
                <li><a href="/templates/index.html">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">contact-us</a></li>
                <li><a href="pages/login.html">login</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-container">
        <h2>Welcome to Our Site!</h2>
        <p>This is a simple webpage created to showcase some basic HTML and CSS styling. Feel free to explore the links above.</p>
        <p>Stay tuned for more updates!</p>
    </main>
    
    <footer class="footer-container">
        <span class="author"><a href="https://github.com/EduardoStockler02">By Eduardo Stockler</a></span>
    </footer>
</body>
</html>
